<nav class="bp3-navbar header">
  <div class="header__wrapper">
    <div class="bp3-navbar-group bp3-align-left">
      <img src="assets/images/apio.png" class="header__apio-logo" />
      <div class="bp3-navbar-heading header__title">
        Asia-Pacific Informatics Olympiad 2021
      </div>
      <span class="bp3-navbar-divider" />
      <div class="header__subtitle">Indonesia, 22 - 23 May 2021</div>
    </div>
    <div class="bp3-navbar-group bp3-align-right">
      <img src="assets/images/kemendikbud-logo.png" class="header__logo" />
      <img src="assets/images/toki-logo.png" class="header__logo" />
    </div>
  </div>
</nav>
