<div class="menubar">
  <div class="menubar__content">
    <div class="bp3-tabs">
      <ul class="bp3-tab-list" role="tablist">
        <li
          class="bp3-tab"
          role="tab"
          aria-selected="{% if page.key != 'open-results' and page.key != 'results' and page.key != 'opening' and page.key != 'closing' %}true{% else %}false{% endif %}"
        >
          <a href="/">Home</a>
        </li>
        <li
          class="bp3-tab"
          role="tab"
          aria-selected="{% if page.key == 'opening' %}true{% else %}false{% endif %}"
        >
          <a href="/opening">Opening Ceremony</a>
        </li>
        <li
          class="bp3-tab"
          role="tab"
          aria-selected="{% if page.key == 'closing' %}true{% else %}false{% endif %}"
        >
          <a href="/closing">Closing Ceremony</a>
        </li>
      </ul>
    </div>
  </div>
</div>
